body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-card {
  margin: 20px;
}

.my-card-image {
  border-radius: 10px;
  width: 300px;
  height: 480px;
  box-shadow: 0px 3px 3px #ccc;
}

.my-card-title {
  font-size: 24px;
  margin: 0px;
}

.my-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.my-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.my-footer {
  height: 5vh;  
}

.my-main-wrapper {
  min-height: 96vh;
  margin-bottom: -50px;
}

.success-msg {
  color: #57A773;
  padding: 10px 15px;
}

.error-msg {
  color: #EE6352;
  padding: 10px 15px;
}

/* SALVINIFICATION */


video {
  width: 60%    !important;
  height: auto   !important;
}

img {
	width: 80%;
	height: 80%;
}

.bg-secondary {
	background-color: #e8e8e8!important;
}

.card {
	margin-top: -5%;
}

.divLogo {
	display: inline;
}

.dress {
	display: block;
	margin: auto;
	position: relative;
	width: 75%;
	left: 60px;
	top: -200px;
}

.fa {
	color: #000;
	font-size: 25px;
	transition: 0.5s;
}

.fa:hover {
	color: #3c3c3c;
	font-size: 30px;
}

.logo {
	width: 11%;
	margin-left: 3%;
}

.machineResult {
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	position: relative;
	top: -100px;
}

.randomizeMachine {
	width: 500px;
	height: 820px;
}

.salvini {
	position: relative;
  display: block;
  left: 10px;
  margin: auto;
	width: 35%;
	z-index: 1;
}

.txtFooter {
	font-size: 18px;
	padding: 0px;
	margin: 0px;
}

#aShare {
	color: white;
	font-family: "Helvetica";
	margin-top: -8%;
}

#aShare:hover {
	text-decoration: none;
}

#bodyToScreen {
	position: relative;
	width: 100%;
}

#btnClose {
	background-color: transparent;
	color: #8f9093;
	font-size: 20px;
	font-weight: bold;
	border: none;
}

#btnClose:hover {
	color: #e5e6e8;
}

#btnScreenshot {
	background-color: #FF5E33!important;
	border-color: #FF5E33!important;
	display: none;
	padding-left: 35px;
	padding-right: 35px;
}

#btnShare {
	background-color: #3b5998;
	margin-top: 14%;
	font-size: 14px;
	width: 102px;
	height: 30px;
	float: left;
}

#btnShare:hover {
	background-color: #4368b7;
}

#containerLoghi {
	text-align: center;
}

#divArticles {
	padding-top: 1%;
}

#divTitles {
 padding-bottom: 1%;
}

#fbicon {
	width: 17px;
	height: 17px;
	margin-top: -8%;
	margin-left: -3%;
}

#footerContainer {
	margin-bottom: 0px!important;
	padding: 20px;
}

#footerSpace {
	min-height: 20px;
}

#italianFlag {
	min-height: 15px;
}

#ken {
	display: block;
	position: relative;
	top: -130px;
	left: 120px;
	width: 75%;
}

#machine {
	opacity: 0;
	position: absolute;
}

#myAlert {
	display: none;
	margin: auto;
}

#navSalvini {
	background-color: #184ab0!important;
}

#randomize .row > div.col-sm-4 > div {
 padding: 40px;
 width: 500px;
 height: 500px;
 margin-left: auto;
 margin-right: auto;
 display: block;
 text-align: center;
}

#randomize .row > div.col-xs-4 > div {
 width: 175px;
 height: 175px;
 margin: auto;
 position: relative;
}

#randomizeButton {
	border-radius: 80%;
	padding: 45px;
	font-size: 30px;
	margin-left: 16px;
}

#randomizeButton, #salviniName, #txtSalvinification, #txtPacchia, #txtThanks {
	font-family: "Impact", "HelveticaNeue-Bold", "HelveticaNeue Bold", "Helvetica Neue Bold", "HelveticaNeue", sans-serif;
}

#salviniFace {
	margin-top: 1%;
	width: 18%;
}

#salviniName {
	font-size: 40px;
}

#socialIcons {
	display: block;
	margin: auto;
	padding: 5px;
}

#subtxtSalvinification, #btnScreenshot {
	font-family: "Helvetica";
	font-size: 18px;
}

#txtGioco {
	font-family: "HelveticaNeue-Bold", "HelveticaNeue Bold", "Helvetica Neue Bold", "HelveticaNeue", sans-serif;
	font-size: 18px;
	margin-top: -1%;
}

#txtImmikrato {
	font-family: "HelveticaNeue", "Helvetica Neue", sans-serif;
	font-size: 12px;
}

#txtNav {
	font-size: 20px;
}

#txtPacchia {
	font-size: 50px;
	margin-top: -5%;
	z-index: 999;
}

#txtSalvinification {
	font-size: 75px;
}

#txtTalk {
	font-family: "HelveticaNeue", "Helvetica Neue", sans-serif;
	font-size: 20px;
}

#txtThanks {
	font-size: 30px;
}

#twitter-widget-0 {
	float: right;
	margin-top: 14%;
	margin-right: 18%;
}

/*↓↓↓ QUA INIZIA CSS RESPONSIVE ↓↓↓*/

/*—————————————X-SMALL DEVICES
XS Device| 320x568*/

@media screen and (max-width: 340px) {

	.dress {
		width: 65%;
		left: -8%;
		top: -90px;
		margin-bottom: 10%;
	}

	.h4 {
		font-size: 15px;
	}

	.h5 {
		font-size: 15px;
	}

	.randomizeMachine {
		width: 250px;
		height: 400px;
	}

	.row {
		margin-right: 0px;
	}

	.salvini {
	 left: -45px;
	 width: 30%;
	}

	.txtFooter {
		font-size: 11px;
	}

	#btnScreenshot {
		display: none!important;
	}

	#btnShare {
		margin-top: 10%;
	}

  #divTitles {
   padding-bottom: 0%;
  }

	#myAlert {
		font-size: 15px;
	}

	#ken {
			top: -75px;
			left: 10px;
	}

	#randomizeButton {
		border-radius: 50%;
		padding: 30px;
		font-size: 18px;
		margin-left: 180px!important;
		margin-top: -500px;
	}

  #salviniFace {
    height: 46%;
    margin-top: 3%;
    width: 36%;
  }

	#salviniName {
		font-size: 30px;
	}

	#subtxtSalvinification {
		font-family: "Helvetica";
		font-size: 12px;
	}

	#subtxtSalvinification {
    font-size: 11px;
	}

	#twitter-widget-0 {
		float: none;
		margin-top: 10%;
		margin-left: 8%;
	}

  #txtContact {
    font-size: 12px;
  }

  #txtGioco {
    font-size: 13px;
    margin-top: -4%;
  }

	#txtNav {
		font-size: 13px;
	}

  #txtPacchia {
    font-size: 35px;
  }

  #txtSalvinification {
    font-size: 45px;
  }

  #txtTalk {
    font-size: 15px;
  }

  #txtThanks {
    font-size: 20px;
  }
}

/*—————————————SMALL DEVICES
iPhone X | 375x812
iPhone 6/7/8 | 375x667
GALAXY S5 | 360x640*/

@media screen and (min-width: 341px) and (max-width: 376px) {

	.txtFooter {
		font-size: 11px;
	}

	.h4 {
		font-size: 15px;
	}

	.h5 {
		font-size: 15px;
	}

	.dress {
		width: 65%;
		left: -8%;
		top: -95px;
		margin-bottom: 10%;
	}

	.randomizeMachine {
		width: 250px;
		height: 400px;
	}

	.row {
		margin-right: 0px;
	}

	.salvini {
	 left: -55px;
	 width: 30%;
	}

	#btnScreenshot {
		display: none!important;
	}

	#btnShare {
		margin-top: 10%;
	}

  #divTitles {
   padding-bottom: 0%;
  }

	#myAlert {
		font-size: 15px;
	}

	#ken {
    top: -75px;
    left: 10px;
	}

	#randomizeButton {
    border-radius: 50%;
    padding: 30px;
    font-size: 18px;
    margin-left: 180px!important;
    margin-top: -500px;
	}

  #salviniFace {
    height: 46%;
    margin-top: 3%;
    width: 36%;
  }

	#salviniName {
    font-size: 30px;
	}

	#subtxtSalvinification {
		font-family: "Helvetica";
		font-size: 12px;
	}

  #txtContact {
    font-size: 12px;
  }

  #txtGioco {
    font-size: 13px;
    margin-top: -4%;
  }

	#txtNav {
		font-size: 13px;
	}

  #txtPacchia {
    font-size: 35px;
  }

	#txtSalvinification {
    font-size: 45px;
	}

  #txtTalk {
    font-size: 15px;
  }

  #txtThanks {
    font-size: 20px;
  }

	#twitter-widget-0 {
		float: none;
		margin-top: 10%;
		margin-left: 8%;
	}

}

/*——————————————MEDIUM DEVICES
L DEVICES | 425x933
iPhone 6/7/8 Plus | 414x736
Pixel 2 XL | 411x823*/

@media screen and (min-width: 377px) and (max-width: 740.98px) {

	.offset-md-1 {
		margin-left: 0%;
	}

	.txtFooter {
		font-size: 11px;
	}

	.h4 {
		font-size: 15px;
	}

	.h5 {
		font-size: 15px;
	}

	.dress {
		width: 65%;
		left: -3%;
		top: -100px;;
	}

	.randomizeMachine {
		width: 300px;
		height: 520px;
	}

	.row {
		margin-right: 0px;
	}

	.salvini {
		left: -50px;
		width: 30%;
	}

	#btnScreenshot {
		display: none!important;
	}

	#btnShare {
		margin-top: 5%;
	}

  #divTitles {
   padding-bottom: 0%;
  }

	#myAlert {
		font-size: 15px;
	}

	#ken {
	 top: -90px;
	 left: 25px;
	}

	#randomizeButton {
		border-radius: 80%;
		padding: 40px;
		font-size: 20px;
		margin-left: 240px!important;
		margin-top: -700px;
	}

  #salviniFace {
    height: 46%;
    margin-top: 3%;
    width: 36%;
  }

	#salviniName {
    font-size: 30px;
	}

	#subtxtSalvinification {
		font-family: "Helvetica";
		font-size: 12px;
	}

  #txtContact {
    font-size: 12px;
  }

  #txtGioco {
    font-size: 13px;
    margin-top: -4%;
  }

  #txtImmikrato {
    margin-bottom: 0px;
  }

	#txtNav {
		font-size: 13px;
	}

  #txtPacchia {
    font-size: 35px;
  }

	#txtSalvinification {
    font-size: 45px;
	}

  #txtTalk {
    font-size: 15px;
  }

  #txtThanks {
    font-size: 20px;
  }

	#twitter-widget-0 {
		margin-top: 5%;
		margin-right: 48%;
	}
}

/*——————————————L DEVICES
Tablet | 768x1080
iPad | 768 x1024*/

@media screen and (min-width: 741px) and (max-width: 900px) {

	.dress {
    width: 65%;
    left: -15%;
    top: -130px;
	}

	.offset-md-1 {
		margin-left: 0%;
	}

	.randomizeMachine {
		width: 330px;
		height: 540px;
	}

	.salvini {
    left: -87px;
	}

	#btnScreenshot {
		display: none!important;
	}

	#btnShare {
    margin-left: -80px;
	}

	#ken {
		top: -85px;
	  left: -20px;
	}

	#machine2Result {
    margin-left: -100px;
    margin-bottom: 44px;
	}

	#randomizeButton {
    border-radius: 100%;
    padding: 36px;
    font-size: 30px;
    margin-left: -76px;
	}

	#salviniName {
		font-size: 30px;
	}

	#subtxtSalvinification {
		font-family: "Helvetica";
		font-size: 14px;
	}

	#txtNav {
		font-size: 16px;
	}

	#txtSalvinification {
		font-size: 45px;
	}
}

/*——————————————XL DEVICES
S Laptop | 1024x1080
iPad Pro | 1024x1366*/

@media screen and (min-width: 991px) and (max-width: 1040px) {

	.offset-md-1 {
		margin-left: 0%;
	}

	.dress {
    width: 65%;
    left: -17%;
		top: -115px;
	}

	.offset-md-1 {
		margin-left: 0%;
	}

	.randomizeMachine {
		width: 330px;
		height: 540px;
	}

	.salvini {
    left: -112px;
		top: 22px;
	}

	#btnScreenshot {
		display: none!important;
	}

	#btnShare {
    margin-left: -80px;
	}

	#ken {
		top: -85px;
	  left: -20px;
	}

	#machine2Result {
    margin-left: -100px;
    margin-bottom: 44px;
	}

	#randomizeButton {
    border-radius: 100%;
    padding: 36px;
    font-size: 30px;
    margin-left: -76px;
	}

	#salviniName {
		font-size: 30px;
	}

	#subtxtSalvinification {
		font-size: 17px;
	}

	#txtNav {
		font-size: 20px;
	}

	#txtSalvinification {
		font-size: 45px;
	}

	#twitter-widget-0 {
		margin-right: 48%;
	}
}